/*
 * -------------------------------------------------
 *  TRON-Bioinformatics/variantmedium
 * -------------------------------------------------
 */
params {
  
  // cmdline options
  input            = null
  outdir           = null
  run_data_staging = false
  
  // data publishing
  publish_dir_mode = 'copy'

  // process specific
  


}



profiles {
  conda {
    process.conda = "$baseDir/environment.yml"
    conda.enabled = true
    params.enable_conda = true
  }
}

// Export this variable to prevent local Python libraries from conflicting with those in the container
env {
  PYTHONNOUSERSITE = 1
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

manifest {
  name = 'TRON-Bioinformatics/variantmedium'
  author = 'Ozlem Muslu, Jonas Ibn-Salem, Shaya Akbarinejad, Luis Kress'
  homePage = 'https://github.com/TRON-Bioinformatics/variantmedium'
  description = 'Somatic point mutation calling using 3D DenseNets'
  mainScript = 'main.nf'
  nextflowVersion = '>=24.10.3'
  version = '1.1.0'
  doi = 'doi'
}

cleanup=true

// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'