/*
 * -------------------------------------------------
 *  TRON-Bioinformatics/variantmedium
 * -------------------------------------------------
 */
params {
  
  // cmdline options
  samplesheet            = null
  outdir                 = null
  data_dir               = null
  execution_step         = null 
  prepare_inputs_dir     = null
  run_data_staging       = true
  skip_preprocessing     = true
  
  // data publishing
  publish_dir_mode = 'copy'

  // process specific
  reference_path = 'ref_data'
  models_path    = 'models'

}

profiles {
  conda {
    conda.enabled         = true
  }
  singularity {
    singularity.enabled   = true
    singularity.autoMounts  = true
    singularity.runOptions = "--bind ${params.data_dir}"
  }
  slurm {
    process {
      executor = 'slurm'  
    }
  }
}

// Export this variable to prevent local Python libraries from conflicting with those in the container
env {
  PYTHONNOUSERSITE = 1
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

manifest {
  name = 'TRON-Bioinformatics/variantmedium'
  author = 'Ozlem Muslu, Jonas Ibn-Salem, Shaya Akbarinejad, Luis Kress'
  homePage = 'https://github.com/TRON-Bioinformatics/variantmedium'
  description = 'Somatic point mutation calling using 3D DenseNets'
  mainScript = 'main.nf'
  nextflowVersion = '>=24.10.3'
  version = '1.1.0'
  doi = 'doi'
}

cleanup=true

// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'