/*
 * -------------------------------------------------
 *  TRON-Bioinformatics/variantmedium
 * -------------------------------------------------
 */
params {
  
  // cmdline options
  samplesheet            = null  // path to samplesheet
  outdir                 = null  // path to generate pipeline outputs
  execution_step         = null  // execution step: [prepare_tsv_inputs, filter, call]
  mount_path             = null  // path to bind mount when using singularity profile
  snv_calling            = true  // whether to call SNVs
  indel_calling          = true  // whether to call Indels
  run_data_staging       = true  // whether to stage input data files
  skip_preprocessing     = false // whether to skip preprocessing step

  // data publishing
  publish_dir_mode       = 'copy'

  // process specific
  reference_path         = 'ref_data' // path to reference data
  models_path            = 'models'   // path to trained models

}

profiles {
  conda {
    conda.enabled          = true
  }
  singularity {
    singularity.enabled    = true
    singularity.autoMounts = true
    singularity.runOptions = "--bind ${params.mount_path}"
  }
  slurm {
    process {
      executor = 'slurm'  
    }
  }
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

manifest {
  name = 'TRON-Bioinformatics/variantmedium'
  author = 'Ozlem Muslu, Jonas Ibn-Salem, Shaya Akbarinejad, Luis Kress'
  homePage = 'https://github.com/TRON-Bioinformatics/variantmedium'
  description = 'Somatic point mutation calling using 3D DenseNets'
  mainScript = 'main.nf'
  nextflowVersion = '>=24.10.3'
  version = '1.1.0'
  doi = 'doi'
}

cleanup=true

// Load base.config & modules.config for DSL2 module specific options
includeConfig 'conf/base.config'
includeConfig 'conf/modules.config'